.home-offers-section {
    margin-left: auto;
    margin-right: auto;
    background: #fff;
}

.home-offers-container {
    width: 100%;
    border: 1px solid #DEE2E7;
    border-radius: 4px;
    display: flex;
    margin-top: 30px;

}

.home-offers-container .home-timer-container {
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 20px;
}

.home-offers-container .home-timer-container .home-timer-text {
    display: flex;
    flex-direction: column;
    padding-bottom: 18px;
}

.home-offers-container .home-timer-container .home-timer-text :nth-child(1) {
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.2px;
    color: #1C1C1C;
}

.home-offers-container .home-timer-container .home-timer-text :nth-child(2) {
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #8B96A5;
}

.home-offers-list-container {
    width: 75%;
}

.home-offers-list-container ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding-left: 0;
    width: 100%;
    height: 100%;
}

.home-offers-list-container ul li {
    border: 1px solid #DEE2E7;
    width: calc(100% / 5);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 11px 0 19px 0;
}

.home-offers-list-container ul li .home-offers-info-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 7px;
}

.home-offers-list-container ul li .home-offers-info-container :nth-child(1) {
    color: #1C1C1C;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.2px;
}

.home-offers-list-container ul li .home-offers-info-container :nth-child(2) {
    color: #EB001B;
    text-align: center;
    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.2px;
    display: inline-flex;
    height: 28px;
    padding: 3px 13px 4px 13px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 29px;
    background: #FFE3E3;
}

@media (min-width: 576px){
    .home-offers-section {
        max-width: 100%;
    }
 }

 @media (min-width: 768px){
    .home-offers-section {
        max-width: 94%;
    }
 }

 @media (min-width: 892px){
    .home-offers-section {
        max-width: 94%;
    }
 }

 @media (min-width: 992px){
    .home-offers-section {
        max-width: 94%;
    }
 }

 @media (min-width: 1024px){
    .home-offers-section {
        max-width: 94%;
    }
 }

 @media (min-width: 1200px){
    .home-offers-section {
        max-width: 1180px;
    }
 }

 @media (min-width: 1441px){
    .home-offers-section {
        max-width: 1180px;
    }
 }

 @media (min-width: 1600px){
    .home-offers-section {
        max-width: 1440px;
    }
 }


 @media (max-width: 1200px){
    .home-offers-section .home-offers-container {
        flex-direction: column;
        border: none;
        justify-content: center;
        align-items: center;
    }
    .home-offers-container .home-offers-list-container {
        width: 100%;
        padding-top: 11px;
    }
    .home-offers-container .home-timer-container {
        padding: 0;
        padding-left: 16px;
    }
 }

 @media (max-width: 768px){
    .home-offers-container .home-timer-container {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
 }

 @media (max-width: 768px){
    .home-offers-container .home-offers-list-container ul {
        flex-wrap: wrap;
    }
    .home-offers-info-container :nth-child(1){
        white-space: nowrap;
    }
    .home-offers-container .home-offers-list-container ul li{
        flex: 1;
        width: calc(100% / 2);
    }
 }

 @media (max-width: 576px){
    .home-offers-container {
        margin-top: 0;
    }
    .home-offers-container .home-timer-container .home-timer-text :nth-child(1) {
        font-size: 18px;
    }
    .home-offers-container .home-timer-container .home-timer-text :nth-child(2) {
        font-size: 14px;
        word-wrap: break-word;
    }
    .home-offers-container .home-timer-container .countdown-timer {
        padding:0 8px;
    }
 }

 @media (max-width: 425px){
    .home-offers-container .home-offers-list-container ul li {
        width: 150px;
    }
    .home-offers-container .home-offers-list-container ul {
        flex-wrap: nowrap;
        overflow-x: scroll;
    }
 }
