.products-section {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

@media (min-width: 310px){
    .products-section {
        max-width: 96%;
    }
 }

@media (min-width: 768px){
    .products-section {
        max-width: 94%;
    }
 }

 @media (min-width: 1200px){
    .products-section {
        max-width: 1180px;
    }
 }

 @media (min-width: 1600px){
    .products-section {
        max-width: 1440px;
    }
 }
 @media (max-width: 920px) {
    .products-section {
        flex-direction: column;
    }
}
