.sidebar-aside {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 1000;
    background-color: rgba(0,0,0,.5);
    
}

.sidebar-aside aside {
    width: 77.7777777%;
    height: 100%;
    background-color: white;
}

.sidebar-aside.show {
display: block;
}

.sidebar-aside.hide {
display: none;
}

.sidebar-aside .sidebar-container {
    width: 100%;
    background-color: #fff;
    height: 100%;
    overflow: scroll;
    
}

.sb-user-links span {
    cursor: pointer;
}

.sidebar-aside .sidebar-container .sidebar-user {
    padding: 20px 0 20px 20px;
    background-color: #EFF2F4;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sidebar-aside .sidebar-container .sidebar-single-item{
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.grey-line {
    height: 1px;
    background-color: #DEE2E7;
    margin: 0 3.5%;
}

.sidebar-aside .sidebar-container .sidebar-main, .sidebar-more, .sidebar-info {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sidebar-aside .sidebar-container .sidebar-single-item.with-icon {
    padding: 12px 0 12px 13px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    cursor: pointer;
}

.sidebar-aside .sidebar-container .sidebar-single-item.with-icon :nth-child(1) {
    width: 22px;
    height: 22px;
}

.sidebar-aside .sidebar-container .sidebar-info .sidebar-single-item {
    padding: 16px 0 13px 53px;
    cursor: pointer;
}

.sidebar-close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22.3%;
}

.sidebar-close-icon {
    width: 55px;
    height: 55px;
    color: white;
}