.footer-main-section {
    margin-left: auto;
    margin-right: auto;
}

.footer-main-section .footer-main-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 59px;
}

.footer-main-section .footer-main-container .footer-social {
    width: 23%;
    min-width: 240px;
}

.footer-main-section .footer-main-container .footer-social .brand-info{
    padding-top: 15px;
    padding-bottom: 15px;
}

.footer-main-section .footer-main-container .footer-social .footer-social-icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.footer-social-icons svg {
    cursor: pointer;
}

.footer-main-section .footer-main-container .footer-social .footer-social-icons .footer-icon{
    color: #BDC4CD;
    width: 32px;
    height: 32px;
}

.footer-main-section .footer-main-container ul {
    list-style-type: none;
    padding: 0;
    padding-top: 10px;
}

.footer-main-section .footer-main-container .footer-download .app-stores {
    padding-top: 15px;
}

.footer-apple, .footer-android {
    cursor: pointer;
}

@media (min-width: 576px){
    .footer-main-section {
        max-width: 98%;
    }
 }



 @media (max-width: 642px){
    .footer-main-section .footer-main-container {
        padding-left: 12px;
        padding-right: 12px;
    }

    .footer-main-section .footer-main-container div :nth-child(2n + 4) {
        width: 120px;
        padding-bottom: 10px;
    }
}


 @media (max-width: 384px){
    .footer-main-section .footer-main-container {
        padding-left: 12px;
        padding-right: 12px;
    }

    .footer-main-section .footer-main-container div :nth-child(2n + 4) {
        width: 120px;
        padding-bottom: 10px;
    }
 }

 @media (min-width: 768px){
    .footer-main-section {
        max-width: 94%;
    }
 }

 @media (max-width: 992px){
    .footer-main-section .footer-main-container {
        flex-wrap: wrap;
    }
    .footer-main-section .footer-main-container .footer-social {
        width: 100%;
        padding-bottom: 30px;
    }
 }

 @media (min-width: 1200px){
    .footer-main-section {
        max-width: 1180px;
    }
 }

 @media (min-width: 1600px){
    .footer-main-section {
        max-width: 1440px;
    }
 }

 @media (max-width: 767px) {
    .footer-main-container {
        flex-direction: column;
        gap: 20px;
    }
    .footer-download .app-stores {
        display: flex;
        justify-content: space-between;
    }
    .footer-title {
        cursor: pointer;
    }
 }