.products-list-section {
    width: 78%;
}

.products-list-container {
    width: 100%;
}

.products-list-container .products-list-ul .list-single-item-container {
    width: 100%;
    background: #fff;
    display: flex;
    border: 1px solid #DEE2E7;
    border-radius: 9px;
}

.products-list-section .products-list-info-container .products-view{
    border-radius: 6px;
    border: 1px solid #DEE2E7;
    background: #FFF;
    width: 100%;
    margin-bottom: 20px;

}

.products-list-info-container .products-view {
    height: 62px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 10px;
}
.products-view .list-info-right {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.verified-check, .right-selectbox, .products-list-view {
    display: flex;
    justify-content: center;
    align-items: center;
}

.verified-check {
    gap: 8px;
}
.right-selectbox {
    border: 1px solid #DEE2E7;
    border-radius: 6px;
    gap: 60px;
    padding: 8px 10px 8px 10px;
}

.products-list-view .grid-view, .list-view {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-view {
    padding: 8px 7px;
    border: 1px solid #DEE2E7;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.list-view {
    padding: 8px 7px;
    border: 1px solid #DEE2E7;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.list-view.active {
    background-color: #EFF2F4;
}
.grid-view.active {
    background-color: #EFF2F4;
}

.list-view-icon {
    transform: rotate(90deg);
}

.products-list-container .products-list-ul{
    padding: 0;
    list-style: none;
}

.products-list-container .products-list-ul li {
    padding-bottom: 10px;
}

.products-list-container .products-list-ul .list-single-item-container .list-single-image-container {
    padding: 9px 12px 11px 7px;
}

.products-list-container .products-list-ul .list-single-item-container .list-single-image-container img {
    width: 195px;
    height: 195px;
    padding: 17px 12px 13px 13px;
}

.list-single-item-info {
    padding: 23px;
}

.list-single-item-info .list-product-price {
    padding-top: 13px;
}

.list-product-stars {
    display: flex;
    gap: 5px;
}

.list-single-item-info .list-product-about {
    display: flex;
    gap: 9px;
    padding-top: 1px;
    align-items: center;
}

.products-list-desc {
    padding-top: 8px;
    width: 88%;
}

.product-link-btn {
    padding-top: 5px;
}

.favorite-icon-container {
    padding-right: 20px;
    padding-top: 20px;
}

.favorite-icon-container div {
    padding: 8px;
    border-radius: 6px;
    border: 1px solid#DEE2E7;
    background: var(--white, #FFF);
    box-shadow: 0px 1px 2px 0px rgba(56, 56, 56, 0.08);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.products-list-desc span {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden; 
}

/* grid-view ----------------------------------------------------------*/
.products-list-ul.grid {
    display: grid;
    grid-template-columns: repeat(3, 31.9%);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    }

.grid-list-li {
    width: 100%;
}

.grid-single-item-container {
    fill: #FFF;
    border: 1px solid #DEE2E7;
    background-color: #fff;
    border-radius: 6px;
}

.grid-single-item-container .grid-product-image-container {
    padding: 15px 32px 16px 33px;
    border-bottom: 1px solid #DEE2E7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-single-item-container .grid-product-image-container img {
    width: 220px;
    height: 220px;
    padding: 13px 13px 14px 14px;
}
.grid-info-heart-container {
    padding: 17px 20px 18px 20px;
    display: flex;
}
.favorite-icon-container.forgrid {
    padding: 0;
}

.grid-products-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* responsive ---------------------------------------------------------- */
@media (max-width: 768px) {
    .products-list-ul.grid {
        grid-template-columns: repeat(2, 42.9%);
        grid-column-gap: 14%;
        }
}

@media (max-width: 600px) {
    .products-list-ul.grid {
        grid-template-columns: repeat(2, 45.9%);
        grid-column-gap: 10%;
        }
}
@media (max-width: 470px) {
    .grid-single-item-container .grid-product-image-container img {
        width: 180px;
        height: 180px;
    }
    .grid-products-info {
        gap: 2px;
    }
    .grid-info-heart-container {
        padding-top: 9px;
        padding-bottom: 9px;
    }
    .grid-products-name span {
        font-size: 13px;
    }
    .grid-product-price span{
        font-size: 16px;
    }
    .list-product-stars svg{
        width: 70px;
    }
    .list-product-stars span {
        font-size: 13px;
    }
    .products-list-ul.grid {
        grid-column-gap: 15px;
        grid-template-columns: repeat(2, 48.6%);
    }
}

@media (max-width: 336px) {
    .grid-single-item-container .grid-product-image-container img {
        width: 172px;
        height: 172px;
    }
}

@media (max-width: 920px) {
    /* .list-product-about > :not(.list-product-stars) {
        display: none;
    } */
    .products-list-section {
        width: 100%;
    }
    .list-product-title span {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden; 
    }
    .list-product-about span{
        white-space: nowrap;
    }
}



@media (max-width: 668px) {
    .favorite-icon-container {
        display: none;
    }
}

@media (max-width: 610px) {
    .list-product-about > :not(.list-product-stars) {
        display: none;
    }
}

@media (max-width: 580px) {
    .products-list-desc, .product-link-btn {
        display: none;
    }
    .right-selectbox {
        display: none;
    }
    .list-product-about > :not(.list-product-stars) {
        display: block;
    }
    .list-single-item-info .list-product-about {
        flex-wrap: wrap;
    }
    .products-list-container .products-list-ul .list-single-item-container .list-single-image-container img {
        width: 130px;
        height: 130px;
    }
    .products-list-container .products-list-ul .list-single-item-container .list-single-image-container {
        padding: 0;
    }
    .list-single-item-info .list-product-price {
        padding-top: 2px;
        padding-bottom: 4px;
    }
    .list-single-item-info {
        padding-top: 17px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
@media (max-width: 330px) {
    .products-list-dot.none330 {
        display: none;
    }
}

@media (max-width: 480px) {
    .products-list-section .products-list-info-container .products-view {
        display: none;
    }
}

@media (max-width: 539px) {
    .list-product-about .text-base.grn {
        width: 100%;
    }
    .products-list-dot.none580 {
        display: none;
    }
    .list-product-price .title-h4 {
        font-size: 17px;
    }
    .list-single-image-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .products-list-container .products-list-ul .list-single-item-container {
        align-items: center;
    }
    .list-single-item-info {
        padding: 0;
    }
    .list-product-about span{
        font-size: 13px;
    }
    .list-product-about .list-product-stars svg {
        width: 70px;
    }
    .products-list-container .products-list-ul li {
        padding-bottom: 6px;
    }

}
/* 
@media (max-width: 940px) {
    .products-list-section {
        width: 85%;
    }
} */