.footer-language-section {
    background-color: #DEE2E7;
}

.footer-language-section .cr-owner {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 23px;
    padding-bottom: 21px;
}

@media (min-width: 576px){
    .footer-language-section .cr-owner {
        max-width: 540px;
    }
 }

 @media (min-width: 768px){
    .footer-language-section .cr-owner {
        max-width: 720px;
    }
 }

 @media (min-width: 992px){
    .footer-language-section .cr-owner {
        max-width: 960px;
    }
 }

 @media (min-width: 1200px){
    .footer-language-section .cr-owner {
        max-width: 1140px;
    }
 }

 @media (min-width: 1400px){
    .footer-language-section .cr-owner {
        max-width: 1320px;
    }
 }

 @media (max-width: 575px){
    .footer-language-section .cr-owner {
        padding-left: 12px;
        padding-right: 12px;
    }
}