.countdown-timer {
    display: flex;
    gap: 6px;

}

.countdown-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 45px;
    height: 50px;
    border-radius: 4px;
    background-color: #606060;
    
}

.countdown-item :nth-child(1) {
    text-align: center;
}
.countdown-item :nth-child(2) {
    text-align: center;
}