.header-search-container {
    width: 46%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-search-container {
    width: 46%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-search-container input {
    padding-left: 5px;
    border-left: 2px solid #0067FF;
    border-top: 2px solid #0067FF;
    border-bottom: 2px solid #0067FF;
    border-right: none;
    width: 58%;
    height: 100%;
    outline: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.header-search-container .selectfrsearch {
    border-left: 1px solid #0067FF;
    border-top: 2px solid #0067FF;
    border-bottom: 2px solid #0067FF;
    word-break: break-all;
    white-space: nowrap;
    cursor: pointer;
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.header-search-container button {
    color: gray;
    width: 17%;
    height: 100%;
    font-size: 16px;
    padding: 0.625em;
    background: linear-gradient(180deg, #127FFF 0%, #0067FF 100%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0;
    color: #fff;
    cursor: pointer;
}

.sc-dcJsrY.jFxcRr.livesearch {
    width: 58%;
    height: 40px;
    z-index: 99;
}
.sc-fqkvVR.jBroMK {
    width: 100%;
    border-top: 2px solid #0067FF;
    border-bottom: 2px solid #0067FF;
    border-left: 2px solid #0067FF;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.sc-gEvEer {
    width: 600px;
    background-color: white;
    display: flex;
    flex-direction: row;
}

.live-result {
    display: flex;
    align-items: center;
    width: 100%;
}
.live-result span {
    width: 100%;
    word-wrap: break-word;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.livesearch .search-icon {
    display: none;
}

.sc-dcJsrY.jDrdDD {
    height: 40px;
}

@media only screen and (max-width: 1024px) {
    .header-search-container button{
        width: 25%;
    }
  }

@media only screen and (max-width: 724px) {
    .header-search-container input {
        width: 330px;
    } 
}

@media only screen and (max-width: 768px){
    .header-search-container{
        display: none;
    }
}

@media (max-width: 1200px) {
    .header-search-container span {
        font-size: 16px;
    }
}

