.sc-dcJsrY.hrRVGZ.mobile-search{
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: #F7FAFC;
    border-radius: 8px;
    border: 1px solid #DEE2E7;
    fill: #F7FAFC;
}

.secondary-search-form {
    width: 100%;
    height: 40px;
    display: none;
    margin-bottom: 8px;
}


.mobile-search input {
    background-color: #F7FAFC;
    padding-left: 6px;
    width: 100%;
    border: none;
    outline: none;
}
.sc-dcJsrY.hrRVGZ.mobile-search .wrapper {
    height: 37px;
    align-items: center;
    z-index: 9;
    width: 99%;
}
.sc-gEvEer.jDPxKt {
    width: 100%;
    z-index: 999;
    margin-top: 10px;
}
.sc-gEvEer.jDPxKt svg {
    display: none;
}


@media only screen and (max-width: 768px){
    .mobile-search{
        display: flex;
        justify-content: center;
        align-items: center;
        display: flex;
    }
    .secondary-search-form.active {
        display: flex;
    }
}

 @media (min-width: 320px){
    .secondary-search-form {
        padding: 0 16px;
    }
 }