.footer-title-toggle .footer-chevron {
    display: none;
}

@media (max-width: 767px) {
    .footer-main-section .footer-main-container .footer-toggle {
        display: none;
    }
    .footer-title-toggle {
        display: flex;
        justify-content: space-between;
    }
    .footer-title-toggle .footer-chevron {
        display: block;
    }
    .footer-main-section .footer-main-container .footer-toggle.active {
        display: block;
    }
    .footer-main-section .footer-main-container .footer-title-toggle .footer-chevron.rotate {
        transform: rotate(180deg);
    }
 }